@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    margin:0;
    overflow-x: hidden;
    
}
p{
    line-height: 4.5vh;
}
.header{
    background-color: #666;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
    width: 100vw;
    padding: 5px 10%;
    position: fixed;
    z-index: 10000;
    transition:all 1s;
}
.header:hover{
    transition: all 1s;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width:auto;
    object-fit: scale-down;
    filter: contrast(150%);
    transition: all .3s;
    animation: brillar 10s infinite     ;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
    transition: all .1s;
}

.header .nav-links a{
    font-size: 700;
    color: #222;
    text-decoration: none;
    transition:all .3s;
}

.header .nav-links a:hover{
    color: #f60;
}

.header .btn-contacto button{
    font-weight:700;
    color: #aaa;
    padding: 9px 25px;
    background-color: #222;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 20px;
}

.header .btn-contacto button:hover{
    background-color: #000 ;
    color: #f60;
    transform: scale(1.1);
}

article{
    height: 85vh;
    min-height: 100vh;
    max-height: max-content;
    color: #ccce;
}

p{
    color: #bbb;
}
p::first-line{
    color: #f60;
}

.bienvenida{
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    background-image: linear-gradient(
        to bottom,
        #111e, #1118
    ), url(../img/oro\ gral.jpeg);
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

.bienvenida section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 100%;
}

.bienvenida h1,
.bienvenida h2{
    width: 100%;
    justify-content: center;
    padding: 10vh;
    margin-top:5vh;
    font-size:7vh;
    margin-bottom: 10vh;
    font-weight:normal;
    color: #bbb;
}

.bienvenida h1{
    display: none;
}

.bienvenida img{
    position: relative;
    filter: invert(100%);
    width: 35%;
    margin-top: 15%;
    /* filter: invert(0.4) sepia(1) hue-rotate(1deg) saturate(1500%) brightness(80%) drop-shadow(3px 3px 5px #000);     */
}

.quienes-somos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
    linear-gradient(to right, #111e 35%, transparent ),
    linear-gradient(to bottom,#111e, #1118), url(../img/quienes\ somos.jpg);
    background-attachment: fixed;
    object-fit: fill;
    background-size: 80%;
    background-position: right center; 
    background-repeat: no-repeat;

}
.quienes-somos section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-right: 40%;
    align-items: left;
    justify-content: center;
    text-align: left;
}
.quienes-somos h2{
    display: flex;
    justify-content:center;
    margin-right: 43%;
    margin-bottom: 15%;
    font-size: 10vh;
    color: #f60;
}
.actividades{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.carruseles{
    display: flex;
    width: 300%;
    height: 100%;
}
.slider-section{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#slide-act{
    background-image: linear-gradient(
        to bottom,
        #111e, #1118
    ), url(../img/actividades.jpg);
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}
#slide-musc{
    background-image: linear-gradient(
        to bottom,
        #111e, #1118
    ), url(../img/musculacion.jpg);
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}
#slide-func{
    background-image: linear-gradient(
        to bottom,
        #111e, #1118
    ), url(../img/funcional.jpg);
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

.actividades-texto {
    position: absolute;
    z-index: 100;
    color: #bbb;
    text-align: justify;
    padding: 25%;
}
.actividades-texto h2{
    display: flex;
    justify-content:center;
    margin-bottom: 10%;
    font-size: 10vh;
    color: #f60;
}

.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 50%;
    font-size: 20vh;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    cursor:pointer;
    color: #222;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    animation: brillar 3s infinite alternate;
}
.btn-left:hover,
.btn-right:hover{
    filter:drop-shadow(3px 3px 10px #000);
    color:#f60;
    animation:none;
}


.btn-right{
    right: 10vw;
}
.btn-left{
    left: 10vw;
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
    linear-gradient(to left, #111f 35%, transparent ),
    linear-gradient(to bottom,#111e, #1118), url(../img/contacto.jpg);
    background-attachment: fixed;
    object-fit: fill;
    background-size: 100%;
    background-position: left center; 
    background-repeat: no-repeat;
}
.contacto section{
    display: flex;
    flex-wrap: wrap;
}

.contacto-text{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    width: 25vw;
}

.contacto-text h2{
    justify-content:center;
    margin-right: 25%;
    margin-bottom: 15%;
    font-size: 10vh;
    color: #f60;
}

.contacto form{
    display: flex;
    flex-direction: column;
}

.contacto form h3{
    font-size: 5vh;
    margin-bottom: 10%;
    margin-top:9%;
    text-align: center;
    
}
.form-section{
    margin: 1vh;
    text-align: center;
}

.form__input{
    width: 100%;
    padding: 7px;
    border:none;
    border-bottom:3px solid #bbb;
    background-color: transparent;
    color: #bbb;
}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, #0008);
    border-bottom:3px solid #f60;
    outline: none;
}

.form__input::placeholder{
    color: #bbb;   
}
.form-section button{
    font-weight:700;
    color: #aaa;
    padding: 9px 25px;
    background-color: #222;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 20px;
}

.form-section button:hover{
    background-color: #000 ;
    color: #f60;
    transform: scale(1.1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 10vw;
}
.wrapper .icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1) ;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before
{
    background: #1877f2;
    color: #fff;

}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before
{
    background: #222;
    color: #fff;

}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before
{
    background: #e4405f;
    color: #fff;

}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before
{
    background: #833ab4;
    color: #fff;

}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before
{
    background: #cd201f;
    color: #fff;

}



footer{
    background-color: #aaa;
}

@keyframes brillar {
    0%{
        filter: invert(0%);
    }
    50%{
        filter: invert(100%)
    }

    100%{
        filter: invert(0%);
    }
    
}